[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "phsmethods"]
	path = phsmethods
	url = https://github.com/public-health-scotland/phsmethods
